DesignPatternDemos.Singleton/demo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Country">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CountryName" type="xs:string" />
                <xs:element name="Population" type="xs:decimal" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>